    .navbar{
        display: flex;
        align-items: center;
        width: 1140px;
        margin:0 auto;
    }

    .navbar h1{
        margin-bottom: 0;
        color:#f9faf8;
        font-size: 24px;       
    }

    .link{
        margin-left:25px;
        text-decoration: none;
        font-weight: 600;
        color:#333;
    }